<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.jada.dao.TestDAO">
  <select id="selectBoard" resultType="com.project.jada.dto.TestDto">
     <![CDATA[
     	SELECT *
     	FROM
     		community_link_main
     ]]>
  </select>
</mapper>